@model Website.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    <h6>Posts</h6>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Posts" asp-route-id="@item.PostId">Edit</a> |
                        <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.PostId">Details</a> |
                        <a asp-action="Delete" asp-controller="Posts" asp-route-id="@item.PostId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
